input {
    display: block;
    width: 70%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4) !important;
    text-align: center !important;
    margin-left: 15%;
  }
  .submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #166FE5;
    text-transform: uppercase;
  }
  .cancelButton{
      color: black !important;
      text-align: end !important;
  }

  .card-footer{
      border-top: none !important;
      background-color: white;
      /* display: block ruby !important; */
  }
  

   .changec{
       background-color: #7E7E7E;
   }
button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  }

  input, button {
    border: none;
    outline: none;
    background: none;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
  }

  label {
    display: block;
    width: 400px;
    margin: 25px auto 0;
    text-align: center;
  }
  p {
    display: block;
    width: 400px;
    margin: 25px auto 0;
    text-align: center;
  }
  label span {
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
  }

  .setMT{
      margin-top: 10%;
  }
  .setF{
    font-size: 11px !important;
  }

  .card-header{
      background-color: white;
      color: #166FE5;
      font-weight: bold;
  }