<div class="row d-flex justify-content-center setMT">
  <div class="col-6">
    <div class="card text-center">
      <div class="card-header">Reset Password</div>
      <div class="card-body">
        <!-- <h5 class="card-title">Special title treatment</h5> -->
        <p class="card-text">Please enter new password</p>
        <input
          class="mt-4"
          type="password"
          placeholder="New password"
          name="password"
          id="password"
          [(ngModel)]="password"
          #ngModel
        />
        <div>
          <ng-container *ngIf="checkPasswordEntered">
            <small class="text-danger font-weight-bold setF"
              >Please Enter Password
            </small>
          </ng-container>
        </div>
        <div class="row">
          <div class="col">
            <button type="submit" class="submit" (click)="resetPassword()">
              Reset
            </button>
          </div>

          <div class="card-footer text-muted">
            <a
              [routerLink]=""
              (click)="backToLogin()"
              [class.disabled]="!showBackButton"
              >Return to Login</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#c5c4d2"
  type="ball-scale-ripple"
  [fullScreen]="true"
  ><p style="color: white"></p
></ngx-spinner>
