<div class="row d-flex justify-content-center setMT mainDiv">
  <div class="col-6">
    <div class="card text-center">
      <div class="card-header">Forgot or Change Password ?</div>
      <div class="card-body">
        <!-- <h5 class="card-title">Special title treatment</h5> -->
        <p class="card-text">
          A password reset link will be sent to your email to reset your
          password.
        </p>
        <input
          class="mt-4"
          type="text"
          placeholder="Email Address"
          name="email"
          id="email"
          [(ngModel)]="email"
          #ngModel
        />
        <div>
          <ng-container *ngIf="checkEmailEntered">
            <small class="text-danger font-weight-bold setF"
              >Please Enter Email
            </small>
          </ng-container>
        </div>
        <div class="row">
          <div class="col">
            <button type="submit" class="submit" (click)="sendRecoveryLink()">
              Send Recovery Link
            </button>
          </div>
          <!-- <div class="col">
            <button type="button" class="submit changec">
              Return to log in
            </button>
          </div> -->
        </div>
      </div>
      <div class="card-footer text-muted">
        <a [routerLink]="" (click)="returnLogin()">Return to Login</a>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#c5c4d2"
  type="ball-scale-ripple"
  [fullScreen]="true"
  ><p style="color: white"></p></ngx-spinner>
